<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style=" margin:100px 0px 0px 100px ;">
    <form action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" name="" id="" value="Login">

        <a href="/accounts/password_change/">Change Password</a>
        <a href="/accounts/password_reset/">Rest Password</a>
    </form>
</div>
</body>
</html>